*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: rgba(214, 202, 202, 0.205);
    line-height: 1.6;
}

nav{
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; 
    position: sticky;
    box-shadow: 0 2px 10px rgba(131, 8, 8, 0.89);
}

.logo{
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(4, 1, 197);
    text-decoration: none;
}

.nav-bar a{
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
    color: blue;
}

header{
    margin-top: 0%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1px;
    color: rgb(255, 238, 0);
    background-image: url(img/images\ \(3\).jpg);
    min-height: 80vh;
    background-size: cover;
    padding: 3%;
    margin-bottom: 20%;
}

header a{
    color: gold;
    text-decoration: none;
    border: 1px solid gold;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    transition: 0.5s;
}
header a:hover{
    color: blue;
    border: 2px solid blue;
    background-color: white;
    cursor: pointer;
}

#home p{
    font-size: 20px;
    color: white;
}

#home h1{
    -webkit-text-stroke: 1px gold;
    color: white;
}

#aboutus{
    align-items: center;
    background-color: rgba(173, 162, 162, 0.877);
    padding: 0%;
    margin-top: 15%;
}

#aboutus h1{
    color: white;
    text-shadow: 2px 4px 3px gold;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 50px;
    text-align: center;
    padding: 2%;
    -webkit-text-stroke: 2px blue;
}

.aboutuscontent{
    color: rgb(67, 5, 138);
    padding: 2px;
    text-align: justify;
    text-transform: capitalize;
    margin-bottom: 50%;
}

.aboutuscontent span{
    color: transparent;
}

.div{
    color: black;
    text-align: center;
    margin: 3px;
}

.theform{
    text-align: justify;
    margin-top: 50px;
    transform: translate(30%);
    font-size: 20px;
    position: sticky;
    margin-bottom: 100%;
}

.footer-content{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(22, 22, 21, 0.822);
    color: white;
    padding-top: 50px;
    padding-left: 2%;
    padding-right: 5%;
    padding-bottom: 40px;
}

.footer-content span{
    color: greenyellow;
}
.footer-content p{
    color: white;
}

.footer-content h3{
    padding-bottom: 2%;
    color: transparent;
    -webkit-text-stroke: 0.6px white;
    text-align: center;
    font-size: 30px;
}

.row{
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: 10px;
    margin: 20px;
}

.banner-col{
    overflow: hidden;
    border-radius: 7px;
    flex-basis: 31%;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    position: relative;
    margin-left: 10px;
    border-radius: 10px;
    width: 50%;
}

.banner-col img{
    width: 100%;
    width: 100%;
    margin: auto;
    display: block;
}

.banner-col p{
    color: rgb(27, 4, 241);
    font-weight: 700;
    text-align: justify;
    font-size: 14px;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
}

.banner-col h1{
    color: rgb(22, 2, 80);
    text-align: center;
    padding-bottom: 10px;
    font-size: 16px;
}

.banner-content{
    padding: 6%;
}

.banner-content button{
    color: gold;
    padding: 9%;
    text-transform: capitalize;
    border: 1px solid gold;
    align-items: center;
    background-color: greenyellow;
    cursor: pointer;
    transition: 1s;
    border-radius: 30px;
}

.banner-content button:hover{
    color: white;
    background-color: gold;
}
